html,
body,
#app {
  height: 100%;
}

html {
  overflow-x: hidden;
}

/* layout */
.layout-header {
  height: var(--hb-header-height);
  box-shadow: var(--hb-header-shadow);
}

.layout-tabs {
  height: var(--hb-tabs-height);
  box-shadow: var(--hb-tabs-shadow);
}

.layout-sider {
  box-shadow: var(--hb-sider-shadow);
}

.layout-footer {
  height: var(--hb-footer-height);
  box-shadow: var(--hb-footer-shadow);
}
